@media only screen and (min-width: 1200px) {
    html {
        height: 100%;
      }
      .login-box {
        position: absolute;
        top: 60%;
        left: 50%;
        width: 565px;
        padding: 40px;
        transform: translate(-50%, -50%);
      }
      
      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 34px;
      }
      
      .login-box .user-box {
        position: relative;
      }
      
      .login-box .user-box input {
        width: 80%;
        padding: 12px 25px;
        font-size: 16px;
        margin-left: 33px;
        margin-bottom: 30px;
        border: none;
        background-color: lightgray;
        outline: none;
      }
      
      .checkbox {
        margin-left: 40px;  
        display: inline-block;
        vertical-align: middle;
      }
      .checkbox input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      .checkbox label {
        position: relative;
        padding-left: 2.2em;
        display: inline-block;
      }
      .checkbox label::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        width: 1.5em;
        background: lightgray;
        margin-right: 0.5em;
        border: 1px solid #999;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      .checkbox label::after {
        content: "\2713";
        position: absolute;
        top: 50%;
        left: 0.75em;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: #fff;
        opacity: 0;
        transition: all 0.2s ease;
      }
      .checkbox label:focus::before,
      .checkbox label:hover::before {
        background: #ddd;
      }
      .checkbox input:checked + label::before {
        background: #000000;
        border-color: #000000;
      }
      
      .checkbox input:checked + label::after {
        opacity: 1;
      }
      
      .p_chek {
        color: #000000;
        font-size: 18px;
      }
      
      .p_chek span {
        color: rgb(75, 75, 255);
      }
      
      .p_chek span:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      
      .conc_btn {
        margin-top: 30px;
        width: 250px;
        height: 80px;
        background-color: #000000;
        border-radius: 60px;
        border: none;
        transition: all 0.8s;
        font-size: 22px;
        color: #fff;
      }
      
      .conc_btn:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.8s;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.337);
      }
      
      .cent_bnt {
        text-align: center;
      }
      footer{
        background-color: #000000 !important;
        margin-top: 650px;
      }
      .rm{
        color: rgb(255, 255, 255) !important;
    }
}