@media only screen and (min-width: 1200px) {
  .cttcontainer {
    background-image: url(../img/backgroundstreet.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 85vh;
  }

  .cttcontainer h1 {
    padding-top: 60px;
    color: #fff;
    height: 30px;
  }

  .horizontal1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  textarea {
    margin-right: 30px;
    resize: none;
    outline: none;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: #000000;
    background-color: rgb(255, 255, 255);
  }

  input {
    color: #000000;
    float: left;
    margin-right: 30px;
    width: 250px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
  }

  .conc_btn {
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #464646;
    border: none;
    transition: all 0.8s;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }

  .conc_btn:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.337);
  }

  .cent_bnt {
    margin-left: 433px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  footer {
    background-color: #000000 !important
  }

  .rm {
    color: rgb(255, 255, 255) !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px){
  .cttcontainer {
    background-image: url(../img/backgroundstreet.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 520px;
  }

  .cttcontainer h1 {
    padding-top: 60px;
    color: #fff;
    height: 30px;
  }

  .horizontal1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  textarea {
    margin-right: 30px;
    resize: none;
    outline: none;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: #000000;
    background-color: rgb(255, 255, 255);
  }

  input {
    color: #000000;
    float: left;
    margin-right: 30px;
    width: 250px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
  }

  .conc_btn {
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #464646;
    border: none;
    transition: all 0.8s;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }

  .conc_btn:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.337);
  }

  .cent_bnt {
    margin-left: 433px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  footer {
    background-color: #000000 !important
  }

  .rm {
    color: rgb(255, 255, 255) !important;
  }
}

@media only screen and (max-width: 767px){
  .cttcontainer {
    background-image: url(../img/backgroundstreet.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 520px;
  }

  .cttcontainer h1 {
    padding-top: 60px;
    color: #fff;
    height: 30px;
  }

  .horizontal1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  textarea {
    margin-right: 30px;
    resize: none;
    outline: none;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: #000000;
    background-color: rgb(255, 255, 255);
  }

  input {
    color: #000000;
    float: left;
    margin-right: 30px;
    width: 250px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
  }

  .conc_btn {
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #464646;
    border: none;
    transition: all 0.8s;
    font-size: 22px;
    color: rgb(255, 255, 255);
  }

  .conc_btn:hover {
    transform: scale(1.1);
    transition: all 0.8s;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.337);
  }

  .cent_bnt {
    margin-left: 433px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  footer {
    background-color: #000000 !important
  }

  .rm {
    color: rgb(255, 255, 255) !important;
  }
}